# Joining Data Sets

Let us understand how to join multiple Data Sets using Spark based APIs.

## Prepare Datasets for Joins
Let us prepare Dataset to join and get the details related to airports (origin and destination).

* Make sure airport-codes is in HDFS.

In [1]:
%%sh
hdfs dfs -ls /public/airlines_all/airport-codes

Found 1 items
-rw-r--r--   2 hdfs supergroup      11411 2021-01-28 10:48 /public/airlines_all/airport-codes/airport-codes-na.txt

## Starting Spark Context

Let us start spark context for this Notebook so that we can execute the code provided.

In [2]:
from pyspark.sql import SparkSession

import getpass
username = getpass.getuser()

spark = SparkSession. \
    builder. \
    config('spark.ui.port', '0'). \
    enableHiveSupport(). \
    appName(f'{username} | Python - Joining Data Sets'). \
    master('yarn'). \
    getOrCreate()

In [3]:
spark.conf.set('spark.sql.shuffle.partitions', '2')

* Analyze the Dataset to confirm if there is header and also how the data is structured.

In [4]:
spark.read. \
    text("/public/airlines_all/airport-codes"). \
    show(truncate=False)

+-------------------------+
|value                    |
+-------------------------+
|City	State	Country	IATA  |
|Abbotsford	BC	Canada	YXX |
|Aberdeen	SD	USA	ABR      |
|Abilene	TX	USA	ABI       |
|Akron	OH	USA	CAK         |
|Alamosa	CO	USA	ALS       |
|Albany	GA	USA	ABY        |
|Albany	NY	USA	ALB        |
|Albuquerque	NM	USA	ABQ   |
|Alexandria	LA	USA	AEX    |
|Allentown	PA	USA	ABE     |
|Alliance	NE	USA	AIA      |
|Alpena	MI	USA	APN        |
|Altoona	PA	USA	AOO       |
|Amarillo	TX	USA	AMA      |
|Anahim Lake	BC	Canada	YAA|
|Anchorage	AK	USA	ANC     |
|Appleton	WI	USA	ATW      |
|Arviat	NWT	Canada	YEK    |
|Asheville	NC	USA	AVL     |
+-------------------------+
only showing top 20 rows

 * Data is tab separated.
 * There is header for the data set.
 * Dataset have 4 fields - **Country, State, City, IATA**
    
    
Create DataFrame airport_codes applying appropriate Schema.

In [5]:
airport_codes_path = "/public/airlines_all/airport-codes"

In [6]:
airport_codes = spark. \
    read. \
    csv(airport_codes_path,
        sep="\t",
        header=True,
        inferSchema=True
       )

* Preview and Understand the data.

In [7]:
airport_codes.show()

+-----------+-----+-------+----+
|       City|State|Country|IATA|
+-----------+-----+-------+----+
| Abbotsford|   BC| Canada| YXX|
|   Aberdeen|   SD|    USA| ABR|
|    Abilene|   TX|    USA| ABI|
|      Akron|   OH|    USA| CAK|
|    Alamosa|   CO|    USA| ALS|
|     Albany|   GA|    USA| ABY|
|     Albany|   NY|    USA| ALB|
|Albuquerque|   NM|    USA| ABQ|
| Alexandria|   LA|    USA| AEX|
|  Allentown|   PA|    USA| ABE|
|   Alliance|   NE|    USA| AIA|
|     Alpena|   MI|    USA| APN|
|    Altoona|   PA|    USA| AOO|
|   Amarillo|   TX|    USA| AMA|
|Anahim Lake|   BC| Canada| YAA|
|  Anchorage|   AK|    USA| ANC|
|   Appleton|   WI|    USA| ATW|
|     Arviat|  NWT| Canada| YEK|
|  Asheville|   NC|    USA| AVL|
|      Aspen|   CO|    USA| ASE|
+-----------+-----+-------+----+
only showing top 20 rows

* Get schema of **airport_codes**.

In [8]:
airport_codes.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- IATA: string (nullable = true)

* Preview the data
 * Get the count of records

In [9]:
airport_codes.count()

526

   * Get the count of unique records and see if it is the same as total count.

In [10]:
airport_codes. \
    select("IATA"). \
    distinct(). \
    count()

524

 * If they are not equal, analyze the data and identify IATA codes which are repeated more than once.

In [11]:
from pyspark.sql.functions import lit, count

In [12]:
duplicate_iata_count = airport_codes. \
    groupBy("IATA"). \
    agg(count(lit(1)).alias("iata_count")). \
    filter("iata_count > 1")

In [13]:
duplicate_iata_count.show()

+----+----------+
|IATA|iata_count|
+----+----------+
| Big|         3|
+----+----------+

 * Filter out the duplicates using the most appropriate one and discard others.

In [14]:
airport_codes. \
    filter("IATA = 'Big'"). \
    show()

+-----------+------+-------+----+
|       City| State|Country|IATA|
+-----------+------+-------+----+
|       Hilo|    HI|    USA| Big|
|Kailua-Kona|Hawaii|    USA| Big|
|    Kamuela|Hawaii|    USA| Big|
+-----------+------+-------+----+

In [15]:
airport_codes. \
    filter("!(State = 'Hawaii' AND IATA = 'Big')"). \
    show()

+-----------+-----+-------+----+
|       City|State|Country|IATA|
+-----------+-----+-------+----+
| Abbotsford|   BC| Canada| YXX|
|   Aberdeen|   SD|    USA| ABR|
|    Abilene|   TX|    USA| ABI|
|      Akron|   OH|    USA| CAK|
|    Alamosa|   CO|    USA| ALS|
|     Albany|   GA|    USA| ABY|
|     Albany|   NY|    USA| ALB|
|Albuquerque|   NM|    USA| ABQ|
| Alexandria|   LA|    USA| AEX|
|  Allentown|   PA|    USA| ABE|
|   Alliance|   NE|    USA| AIA|
|     Alpena|   MI|    USA| APN|
|    Altoona|   PA|    USA| AOO|
|   Amarillo|   TX|    USA| AMA|
|Anahim Lake|   BC| Canada| YAA|
|  Anchorage|   AK|    USA| ANC|
|   Appleton|   WI|    USA| ATW|
|     Arviat|  NWT| Canada| YEK|
|  Asheville|   NC|    USA| AVL|
|      Aspen|   CO|    USA| ASE|
+-----------+-----+-------+----+
only showing top 20 rows

 * Get number of airports (IATA Codes) for each state in the US. Sort the data in descending order by count.

In [16]:
from pyspark.sql.functions import col, lit, count

In [17]:
airport_codes_path = "/public/airlines_all/airport-codes"

In [18]:
airport_codes = spark. \
    read. \
    csv(airport_codes_path,
        sep="\t",
        header=True,
        inferSchema=True
       ). \
    filter("!(State = 'Hawaii' AND IATA = 'Big') AND Country='USA'")

In [19]:
airport_count_per_state = airport_codes. \
    groupBy("Country", "State"). \
    agg(count(lit(1)).alias("IATACount")). \
    orderBy(col("IATACount").desc())

In [20]:
airport_count_per_state.show()

+-------+-----+---------+
|Country|State|IATACount|
+-------+-----+---------+
|    USA|   CA|       29|
|    USA|   TX|       26|
|    USA|   AK|       25|
|    USA|   NY|       18|
|    USA|   FL|       18|
|    USA|   MI|       18|
|    USA|   MT|       14|
|    USA|   PA|       13|
|    USA|   CO|       12|
|    USA|   IL|       12|
|    USA|   WY|       10|
|    USA|   NC|       10|
|    USA|   WI|        9|
|    USA|   NM|        9|
|    USA|   HI|        9|
|    USA|   KS|        9|
|    USA|   GA|        9|
|    USA|   WA|        9|
|    USA|   NE|        9|
|    USA|   MO|        8|
+-------+-----+---------+
only showing top 20 rows

## Joining Data Frames

Let us understand how to join Data Frames by using some problem statements. Use 2008 January data.
* Get number of flights departed from each of the US airport.
* Get number of flights departed from each of the state.
* Get the list of airports in the US from which flights are not departed.
* Check if there are any origins in airlines data which do not have record in airport-codes.
* Get the total number of flights from the airports that do not contain entries in airport-codes.
* Get the total number of flights per airport that do not contain entries in airport-codes.

## Overview of Joins

Let us get an overview of joining Data Frames.
* Our data cannot be stored in one table. It will be stored in multiple tables and the tables might be related.
  * When it comes to transactional systems, we typically define tables based on Normalization Principles.
  * When it comes to data warehousing applications, we typically define tables using Dimensional Modeling.
  * Either of the approach data is scattered into multiple tables and relationships are defined.
  * Typically tables are related with one to one, one to many, many to many relationships.
* When we have 2 Data Sets that are related based on a common key we typically perform join.
* There are different types of joins.
  * INNER JOIN
  * OUTER JOIN (LEFT or RIGHT)
  * FULL OUTER JOIN (a LEFT OUTER JOIN b UNION a RIGHT OUTER JOIN b)

## Solutions - Problem 1

Get number of flights departed from each of the US airport.

In [21]:
from pyspark.sql.functions import col, lit, count

In [22]:
airlines_path = "/public/airlines_all/airlines-part/flightmonth=200801"

In [23]:
airlines = spark. \
    read. \
    parquet(airlines_path)

In [24]:
airlines.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|IsArrDelayed|IsDepDelayed|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|2008|    1|        16|        3|   1725|      1735|   1959|      2021|           OH|     5367| N716CA|              154|           166|    146|     -22|     -10|   BGR| CVG|     906|     1|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2008|    1|        17|        4|   1717|      1701|   1915|      1855|           OH|     4977| N967CA|              118|           114|    101|      20|      16|   SYR| CVG|     527|     2|     15|        0|            null|       0|          16|           0|       4|            0|                0|         YES|         YES|
|2008|    1|        17|        4|   1220|      1225|   1440|      1504|           OH|     5352| N709CA|              140|           159|    117|     -24|      -5|   SAV| BOS|     901|     8|     15|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2008|    1|        17|        4|   1530|      1530|   1645|      1637|           OH|     5426| N779CA|               75|            67|     45|       8|       0|   CVG| GRR|     268|     5|     25|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|         YES|          NO|
|2008|    1|        17|        4|   1203|      1205|   1429|      1429|           OH|     5441| N809CA|               86|            84|     58|       0|      -2|   STL| CVG|     307|     3|     25|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2008|    1|        18|        5|   1150|      1150|   1457|      1524|           OH|     5220| N436CA|              127|           154|    102|     -27|       0|   STL| JFK|     892|     4|     21|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2008|    1|        18|        5|   1215|      1009|   1540|      1251|           OH|     5260| N446CA|              145|           102|    140|     169|     126|   MCI| CVG|     539|     2|      3|        0|            null|       0|         126|           0|      43|            0|                0|         YES|         YES|
|2008|    1|        19|        6|    835|       835|   1145|      1130|           OH|     5276| N523CA|              130|           115|     83|      15|       0|   TUL| CVG|     646|     4|     43|        0|            null|       0|           0|           0|      15|            0|                0|         YES|          NO|
|2008|    1|        20|        7|   1925|      1935|   2148|      2124|           OH|     5215| N729CA|              143|           109|     34|      24|     -10|   JFK| PHL|      94|     5|    104|        0|            null|       0|           0|           0|      24|            0|                0|         YES|          NO|
|2008|    1|        20|        7|    825|       830|   1045|      1007|           OH|     5324| N933CA|              140|            97|     92|      38|      -5|   RDU| CVG|     390|     1|     47|        0|            null|       0|           0|           0|      38|            0|                0|         YES|          NO|
|2008|    1|        21|        1|   1638|      1640|   1741|      1754|           OH|     4984| N719CA|               63|            74|     45|     -13|      -2|   CVG| DTW|     229|    10|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2008|    1|        21|        1|   1200|      1204|   1600|      1559|           OH|     5056| N371CA|              180|           175|    147|       1|      -4|   MSY| LGA|    1183|    13|     20|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|         YES|          NO|
|2008|    1|        21|        1|   1950|      1935|   2103|      2124|           OH|     5215| N965CA|               73|           109|     29|     -21|      15|   JFK| PHL|      94|     8|     36|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|          NO|         YES|
|2008|    1|        21|        1|   1950|      1830|   2225|      2007|           OH|     5595| N641CA|              155|            97|    136|     138|      80|   DCA| JFK|     213|    10|      9|        0|            null|       0|           0|          80|      58|            0|                0|         YES|         YES|
|2008|    1|        21|        1|    700|       700|    955|       950|           OH|     5610| N964CA|              115|           110|     87|       5|       0|   HSV| DCA|     613|     8|     20|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|         YES|          NO|
|2008|    1|        22|        2|   2020|      1910|   2223|      2125|           OH|     5032| N538CA|               63|            75|     44|      58|      70|   ORD| CVG|     264|     1|     18|        0|            null|       0|           0|          58|       0|            0|                0|         YES|         YES|
|2008|    1|        22|        2|   1320|      1320|   1600|      1528|           OH|     5331| N805CA|              160|           128|    102|      32|       0|   CVG| JFK|     589|    12|     46|        0|            null|       0|           0|           0|      32|            0|                0|         YES|          NO|
|2008|    1|        23|        3|    908|       908|   1216|      1149|           OH|     5033| N963CA|              188|           161|    124|      27|       0|   LGA| SAV|     722|     6|     58|        0|            null|       0|           0|           0|      27|            0|                0|         YES|          NO|
|2008|    1|        23|        3|   1245|      1252|   1409|      1430|           OH|     5050| N427CA|               84|            98|     73|     -21|      -7|   CLT| CVG|     335|     1|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2008|    1|        23|        3|    630|       635|    840|       831|           OH|     5355| N926CA|              130|           116|     85|       9|      -5|   GSP| LGA|     610|    20|     25|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|         YES|          NO|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
only showing top 20 rows

In [25]:
airlines.select("Year", "Month", "DayOfMonth", "Origin", "Dest", "CRSDepTime").show()

+----+-----+----------+------+----+----------+
|Year|Month|DayOfMonth|Origin|Dest|CRSDepTime|
+----+-----+----------+------+----+----------+
|2008|    1|        16|   BGR| CVG|      1735|
|2008|    1|        17|   SYR| CVG|      1701|
|2008|    1|        17|   SAV| BOS|      1225|
|2008|    1|        17|   CVG| GRR|      1530|
|2008|    1|        17|   STL| CVG|      1205|
|2008|    1|        18|   STL| JFK|      1150|
|2008|    1|        18|   MCI| CVG|      1009|
|2008|    1|        19|   TUL| CVG|       835|
|2008|    1|        20|   JFK| PHL|      1935|
|2008|    1|        20|   RDU| CVG|       830|
|2008|    1|        21|   CVG| DTW|      1640|
|2008|    1|        21|   MSY| LGA|      1204|
|2008|    1|        21|   JFK| PHL|      1935|
|2008|    1|        21|   DCA| JFK|      1830|
|2008|    1|        21|   HSV| DCA|       700|
|2008|    1|        22|   ORD| CVG|      1910|
|2008|    1|        22|   CVG| JFK|      1320|
|2008|    1|        23|   LGA| SAV|       908|
|2008|    1|        23|   CLT| CVG|      1252|
|2008|    1|        23|   GSP| LGA|       635|
+----+-----+----------+------+----+----------+
only showing top 20 rows

In [26]:
airlines.count()

605659

In [27]:
airport_codes_path = "/public/airlines_all/airport-codes"

In [28]:
airport_codes = spark. \
    read. \
    csv(airport_codes_path,
        sep="\t",
        header=True,
        inferSchema=True
       ). \
    filter("!(State = 'Hawaii' AND IATA = 'Big') AND Country='USA'")

In [29]:
airport_codes.count()

443

In [30]:
airlines. \
    join(airport_codes, col("IATA") == col("Origin")). \
    select("Year", "Month", "DayOfMonth", airport_codes["*"], "CRSDepTime"). \
    show()

+----+-----+----------+-------------+-----+-------+----+----------+
|Year|Month|DayOfMonth|         City|State|Country|IATA|CRSDepTime|
+----+-----+----------+-------------+-----+-------+----+----------+
|2008|    1|        16|       Bangor|   ME|    USA| BGR|      1735|
|2008|    1|        17|     Syracuse|   NY|    USA| SYR|      1701|
|2008|    1|        17|     Savannah|   GA|    USA| SAV|      1225|
|2008|    1|        17|   Cincinnati|   OH|    USA| CVG|      1530|
|2008|    1|        17|    St. Louis|   MO|    USA| STL|      1205|
|2008|    1|        18|    St. Louis|   MO|    USA| STL|      1150|
|2008|    1|        18|  Kansas City|   MO|    USA| MCI|      1009|
|2008|    1|        19|        Tulsa|   OK|    USA| TUL|       835|
|2008|    1|        20|     New York|   NY|    USA| JFK|      1935|
|2008|    1|        20|      Raleigh|   NC|    USA| RDU|       830|
|2008|    1|        21|   Cincinnati|   OH|    USA| CVG|      1640|
|2008|    1|        21|  New Orleans|   LA|    USA| MSY|      1204|
|2008|    1|        21|     New York|   NY|    USA| JFK|      1935|
|2008|    1|        21|Washington DC| null|    USA| DCA|      1830|
|2008|    1|        21|   Huntsville|   AL|    USA| HSV|       700|
|2008|    1|        22|      Chicago|   IL|    USA| ORD|      1910|
|2008|    1|        22|   Cincinnati|   OH|    USA| CVG|      1320|
|2008|    1|        23|     New York|   NY|    USA| LGA|       908|
|2008|    1|        23|    Charlotte|   NC|    USA| CLT|      1252|
|2008|    1|        23|   Greenville|   SC|    USA| GSP|       635|
+----+-----+----------+-------------+-----+-------+----+----------+
only showing top 20 rows

In [31]:
airlines. \
    join(airport_codes, airport_codes.IATA == airlines["Origin"]). \
    select("Year", "Month", "DayOfMonth", airport_codes["*"], "CRSDepTime"). \
    show()

+----+-----+----------+-------------+-----+-------+----+----------+
|Year|Month|DayOfMonth|         City|State|Country|IATA|CRSDepTime|
+----+-----+----------+-------------+-----+-------+----+----------+
|2008|    1|        16|       Bangor|   ME|    USA| BGR|      1735|
|2008|    1|        17|     Syracuse|   NY|    USA| SYR|      1701|
|2008|    1|        17|     Savannah|   GA|    USA| SAV|      1225|
|2008|    1|        17|   Cincinnati|   OH|    USA| CVG|      1530|
|2008|    1|        17|    St. Louis|   MO|    USA| STL|      1205|
|2008|    1|        18|    St. Louis|   MO|    USA| STL|      1150|
|2008|    1|        18|  Kansas City|   MO|    USA| MCI|      1009|
|2008|    1|        19|        Tulsa|   OK|    USA| TUL|       835|
|2008|    1|        20|     New York|   NY|    USA| JFK|      1935|
|2008|    1|        20|      Raleigh|   NC|    USA| RDU|       830|
|2008|    1|        21|   Cincinnati|   OH|    USA| CVG|      1640|
|2008|    1|        21|  New Orleans|   LA|    USA| MSY|      1204|
|2008|    1|        21|     New York|   NY|    USA| JFK|      1935|
|2008|    1|        21|Washington DC| null|    USA| DCA|      1830|
|2008|    1|        21|   Huntsville|   AL|    USA| HSV|       700|
|2008|    1|        22|      Chicago|   IL|    USA| ORD|      1910|
|2008|    1|        22|   Cincinnati|   OH|    USA| CVG|      1320|
|2008|    1|        23|     New York|   NY|    USA| LGA|       908|
|2008|    1|        23|    Charlotte|   NC|    USA| CLT|      1252|
|2008|    1|        23|   Greenville|   SC|    USA| GSP|       635|
+----+-----+----------+-------------+-----+-------+----+----------+
only showing top 20 rows

In [32]:
airlines.join?

Signature: airlines.join(other, on=None, how=None)
Docstring:
Joins with another :class:`DataFrame`, using the given join expression.

:param other: Right side of the join
:param on: a string for the join column name, a list of column names,
    a join expression (Column), or a list of Columns.
    If `on` is a string or a list of strings indicating the name of the join column(s),
    the column(s) must exist on both sides, and this performs an equi-join.
:param how: str, default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
    ``full``, ``full_outer``, ``left``, ``left_outer``, ``right``, ``right_outer``,
    ``left_semi``, and ``left_anti``.

The following performs a full outer join between ``df1`` and ``df2``.

>>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height).collect()
[Row(name=None, height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

>>> df.join(df2, 'name', 'outer').select('name', 'height').collect()
[Row(name='Tom', height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

>>> cond = [df.name == df3.name, df.age == df3.age]
>>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
[Row(name='Alice', age=2), Row(name='Bob', age=5)]

>>> df.join(df2, 'name').select(df.name, df2.height).collect()
[Row(name='Bob', height=85)]

>>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
[Row(name='Bob', age=5)]

.. versionadded:: 1.3
File:      /opt/spark-2.4.7-bin-hadoop2.7/python/pyspark/sql/dataframe.py
Type:      method

In [33]:
flight_count_per_airport = airlines. \
    join(airport_codes, airport_codes.IATA == airlines.Origin). \
    groupBy("Origin"). \
    agg(count(lit(1)).alias("FlightCount")). \
    orderBy(col("FlightCount").desc())

In [34]:
flight_count_per_airport.show()

+------+-----------+
|Origin|FlightCount|
+------+-----------+
|   ATL|      33897|
|   ORD|      29936|
|   DFW|      23861|
|   DEN|      19477|
|   LAX|      18945|
|   PHX|      17695|
|   IAH|      15531|
|   LAS|      15292|
|   DTW|      14357|
|   EWR|      12467|
|   SLC|      12401|
|   MSP|      11800|
|   SFO|      11573|
|   MCO|      11070|
|   CLT|      10752|
|   LGA|      10300|
|   JFK|      10023|
|   BOS|       9717|
|   BWI|       8883|
|   CVG|       8659|
+------+-----------+
only showing top 20 rows

## Solutions - Problem 2

Get number of flights departed from each of the state.

In [35]:
from pyspark.sql.functions import col, lit, count

In [36]:
airlines_path = "/public/airlines_all/airlines-part/flightmonth=200801"

In [37]:
airlines = spark. \
    read. \
    parquet(airlines_path)

In [38]:
airport_codes_path = "/public/airlines_all/airport-codes"

In [39]:
airport_codes = spark. \
    read. \
    csv(airport_codes_path,
        sep="\t",
        header=True,
        inferSchema=True
       ). \
    filter("!(State = 'Hawaii' AND IATA = 'Big') AND Country='USA'")

In [40]:
flight_count_per_state = airlines. \
    join(airport_codes, airport_codes.IATA == airlines.Origin). \
    groupBy("State"). \
    agg(count(lit(1)).alias("FlightCount")). \
    orderBy(col("FlightCount").desc())

In [41]:
flight_count_per_state.show()

+-----+-----------+
|State|FlightCount|
+-----+-----------+
|   CA|      72853|
|   TX|      63930|
|   FL|      41042|
|   IL|      39812|
|   GA|      35527|
|   NY|      28414|
|   CO|      23288|
|   AZ|      20768|
|   OH|      19209|
|   NC|      17942|
|   MI|      17824|
|   NV|      17763|
| null|      14090|
|   TN|      13549|
|   PA|      13491|
|   UT|      12709|
|   NJ|      12498|
|   MN|      12357|
|   MO|      11808|
|   WA|      10210|
+-----+-----------+
only showing top 20 rows

## Solutions - Problem 3

Get the list of airports in the US from which flights are not departed.

In [42]:
airlines_path = "/public/airlines_all/airlines-part/flightmonth=200801"

In [43]:
airlines = spark. \
    read. \
    parquet(airlines_path)

In [44]:
airport_codes_path = "/public/airlines_all/airport-codes"

In [45]:
airport_codes = spark. \
    read. \
    csv(airport_codes_path,
        sep="\t",
        header=True,
        inferSchema=True
       ). \
    filter("!(State = 'Hawaii' AND IATA = 'Big') AND Country='USA'")

In [46]:
airport_codes.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- IATA: string (nullable = true)

In [47]:
airports_not_used = airport_codes. \
    join(airlines, airport_codes.IATA == airlines.Origin, "left"). \
    select(airport_codes["*"], "Year", "Month", 
           "DayOfMonth", "Origin", "CRSDepTime"). \
    show()

+--------+-----+-------+----+----+-----+----------+------+----------+
|    City|State|Country|IATA|Year|Month|DayOfMonth|Origin|CRSDepTime|
+--------+-----+-------+----+----+-----+----------+------+----------+
|Aberdeen|   SD|    USA| ABR|null| null|      null|  null|      null|
| Abilene|   TX|    USA| ABI|2008|    1|         5|   ABI|       540|
| Abilene|   TX|    USA| ABI|2008|    1|        17|   ABI|      1423|
| Abilene|   TX|    USA| ABI|2008|    1|        21|   ABI|       640|
| Abilene|   TX|    USA| ABI|2008|    1|         8|   ABI|       842|
| Abilene|   TX|    USA| ABI|2008|    1|        15|   ABI|      1423|
| Abilene|   TX|    USA| ABI|2008|    1|        13|   ABI|       540|
| Abilene|   TX|    USA| ABI|2008|    1|        18|   ABI|       842|
| Abilene|   TX|    USA| ABI|2008|    1|        25|   ABI|       640|
| Abilene|   TX|    USA| ABI|2008|    1|         2|   ABI|       640|
| Abilene|   TX|    USA| ABI|2008|    1|        30|   ABI|       640|
| Abilene|   TX|    USA| ABI|2008|    1|        23|   ABI|      1150|
| Abilene|   TX|    USA| ABI|2008|    1|         1|   ABI|      1735|
| Abilene|   TX|    USA| ABI|2008|    1|        15|   ABI|       930|
| Abilene|   TX|    USA| ABI|2008|    1|        26|   ABI|      1150|
| Abilene|   TX|    USA| ABI|2008|    1|        13|   ABI|       930|
| Abilene|   TX|    USA| ABI|2008|    1|         9|   ABI|      1150|
| Abilene|   TX|    USA| ABI|2008|    1|         7|   ABI|       930|
| Abilene|   TX|    USA| ABI|2008|    1|        28|   ABI|       842|
| Abilene|   TX|    USA| ABI|2008|    1|        14|   ABI|      1150|
+--------+-----+-------+----+----+-----+----------+------+----------+
only showing top 20 rows

In [48]:
airports_not_used = airport_codes. \
    join(airlines, airport_codes.IATA == airlines.Origin, "left"). \
    filter(airlines.Origin.isNull()). \
    select('City', 'State', 'Country', 'IATA')

In [49]:
airports_not_used = airlines. \
    join(airport_codes, airport_codes.IATA == airlines.Origin, "right"). \
    filter("Origin IS NULL"). \
    select('City', 'State', 'Country', 'IATA')

In [50]:
airports_not_used.count()

173

In [51]:
airport_codes.show()

+-------------+-----+-------+----+
|         City|State|Country|IATA|
+-------------+-----+-------+----+
|     Aberdeen|   SD|    USA| ABR|
|      Abilene|   TX|    USA| ABI|
|        Akron|   OH|    USA| CAK|
|      Alamosa|   CO|    USA| ALS|
|       Albany|   GA|    USA| ABY|
|       Albany|   NY|    USA| ALB|
|  Albuquerque|   NM|    USA| ABQ|
|   Alexandria|   LA|    USA| AEX|
|    Allentown|   PA|    USA| ABE|
|     Alliance|   NE|    USA| AIA|
|       Alpena|   MI|    USA| APN|
|      Altoona|   PA|    USA| AOO|
|     Amarillo|   TX|    USA| AMA|
|    Anchorage|   AK|    USA| ANC|
|     Appleton|   WI|    USA| ATW|
|    Asheville|   NC|    USA| AVL|
|        Aspen|   CO|    USA| ASE|
|       Athens|   GA|    USA| AHN|
|      Atlanta|   GA|    USA| ATL|
|Atlantic City|   NJ|    USA| ACY|
+-------------+-----+-------+----+
only showing top 20 rows

## Solutions - Problem 4

Check if there are any origins in airlines data which do not have record in airport-codes.

In [52]:
airlines_path = "/public/airlines_all/airlines-part/flightmonth=200801"

In [53]:
airlines = spark. \
    read. \
    parquet(airlines_path)

In [54]:
airport_codes_path = "/public/airlines_all/airport-codes"

In [55]:
airport_codes = spark. \
    read. \
    csv(airport_codes_path,
        sep="\t",
        header=True,
        inferSchema=True
       ). \
    filter("!(State = 'Hawaii' AND IATA = 'Big')")

In [56]:
airlines. \
    join(airport_codes, airlines.Origin == airport_codes.IATA, "left"). \
    filter("IATA IS NULL"). \
    select("Origin"). \
    distinct(). \
    show()

+------+
|Origin|
+------+
|   HDN|
|   SJU|
|   ITO|
|   STT|
|   CEC|
|   CDC|
|   PSG|
|   ADK|
|   KOA|
|   OTZ|
|   BQN|
|   STX|
|   PMD|
|   PSE|
|   SCC|
|   SLE|
+------+

In [57]:
airlines. \
    join(airport_codes, airlines.Origin == airport_codes.IATA, "left"). \
    filter("IATA IS NULL"). \
    select("Origin"). \
    distinct(). \
    count()

16

## Solutions - Problem 5

Get the total number of flights from the airports that do not contain entries in airport-codes.

In [58]:
airlines_path = "/public/airlines_all/airlines-part/flightmonth=200801"

In [59]:
airlines = spark. \
    read. \
    parquet(airlines_path)

In [ ]:
airport_codes_path = "/public/airlines_all/airport-codes"

In [ ]:
airport_codes = spark. \
    read. \
    csv(airport_codes_path,
        sep="\t",
        header=True,
        inferSchema=True
       ). \
    filter("!(State = 'Hawaii' AND IATA = 'Big')")

In [ ]:
airlines. \
    join(airport_codes, airlines.Origin == airport_codes.IATA, "left"). \
    filter("IATA IS NULL"). \
    count()

## Solutions - Problem 6

Get the total number of flights per airport that do not contain entries in airport-codes.

In [ ]:
airlines_path = "/public/airlines_all/airlines-part/flightmonth=200801"

In [ ]:
airlines = spark. \
    read. \
    parquet(airlines_path)

In [ ]:
airport_codes_path = "/public/airlines_all/airport-codes"
airport_codes = spark. \
    read. \
    csv(airport_codes_path,
        sep="\t",
        header=True,
        inferSchema=True
       ). \
    filter("!(State = 'Hawaii' AND IATA = 'Big')")

In [ ]:
airlines. \
    join(airport_codes, airlines.Origin == airport_codes.IATA, "left"). \
    filter("IATA IS NULL"). \
    groupBy("Origin"). \
    count(). \
    show()