## Preparing Tables

Let us prepare retail tables to come up with the solution for the problem statement.
* Ensure that we have required database and user for retail data. We might provide the database as part of our labs. Here are the instructions to use `psql` for setting up the required tables.

```shell
psql -U postgres -h localhost -p 5432 -W
```

```sql
CREATE DATABASE itversity_retail_db;
CREATE USER itversity_retail_user WITH ENCRYPTED PASSWORD 'retail_password';
GRANT ALL ON DATABASE itversity_retail_db TO itversity_retail_user;
```

* Create Tables using the script provided. You can either use `psql` or **SQL Alchemy**.

```shell
psql -U itversity_retail_user \
  -h localhost \
  -p 5432 \
  -d itversity_retail_db \
  -W

\i /data/retail_db/create_db_tables_pg.sql
```

* Data shall be loaded using the script provided.

```shell
\i /data/retail_db/load_db_tables_pg.sql
```

* Run queries to validate we have data in all the 3 tables.

In [1]:
%load_ext sql

In [4]:
%env DATABASE_URL=postgresql://itv008358_sms_user:6pseychux8fluw6d8y3964429v93wt00@m01.itversity.com:5433/itv008358_sms_db

env: DATABASE_URL=postgresql://itv008358_sms_user:6pseychux8fluw6d8y3964429v93wt00@m01.itversity.com:5433/itv008358_sms_db

In [5]:
%sql SELECT current_database()

1 rows affected.

[('itv008358_sms_db',)]

In [6]:
%%sql

SELECT * FROM information_schema.tables 
WHERE table_catalog = 'itversity_retail_db' 
    AND table_schema = 'public' 
LIMIT 10

 * postgresql://itv008358_sms_user:***@m01.itversity.com:5433/itv008358_sms_db
0 rows affected.

[]

In [7]:
%sql SELECT * FROM orders LIMIT 10

 * postgresql://itv008358_sms_user:***@m01.itversity.com:5433/itv008358_sms_db
(psycopg2.errors.UndefinedTable) relation "orders" does not exist
LINE 1: SELECT * FROM orders LIMIT 10
                      ^

[SQL: SELECT * FROM orders LIMIT 10]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
%sql SELECT * FROM order_items LIMIT 10

In [ ]:
%sql SELECT * FROM products LIMIT 10

In [ ]:
%sql SELECT count(1) FROM orders

In [ ]:
%sql SELECT count(1) FROM order_items

In [ ]:
%sql SELECT count(1) FROM products