## Inserting Data

Let us see how to insert the data into the table.
* We need to use INSERT clause to insert the data. Here is the sample syntax.

```sql
INSERT INTO <table_name> (col1, col2, col3)
VALUES (val1, val2, val3)
```

* If we don't pass columns after table name then we need to specify values for all the columns. It is not good practice to insert records with out specifying column names.
* If we do not specify value for `SERIAL` field, a sequence generated number will be used.
* It is not mandatory to pass the values for those fields where `DEFAULT` is specified. Values specified in `DEFAULT` clause will be used.
* It is mandatory to specify columns and corresponding values for all columns where `NOT NULL` is specified.

In [1]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://itv008358:6pseychux8fluw6d8y3964429v93wt00@localhost:5432/itversity_sms_db

env: DATABASE_URL=postgresql://itv008358:6pseychux8fluw6d8y3964429v93wt00@localhost:5432/itversity_sms_db

In [4]:
%sql TRUNCATE TABLE users

(psycopg2.OperationalError) FATAL:  password authentication failed for user "itv008358"

(Background on this error at: http://sqlalche.me/e/13/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Scott', 'Tiger', 'scott@tiger.com')

In [ ]:
%sql SELECT * FROM users

In [ ]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id)
VALUES ('Donald', 'Duck', 'donald@duck.com')

In [ ]:
%sql SELECT * FROM users

In [ ]:
%%sql

INSERT INTO users (user_first_name, user_last_name, user_email_id, user_role, is_active)
VALUES ('Mickey', 'Mouse', 'mickey@mouse.com', 'U', true)

In [ ]:
%sql SELECT * FROM users

In [ ]:
%%sql

INSERT INTO users 
    (user_first_name, user_last_name, user_email_id, user_password, user_role, is_active) 
VALUES 
    ('Gordan', 'Bradock', 'gbradock0@barnesandnoble.com', 'h9LAz7p7ub', 'U', true),
    ('Tobe', 'Lyness', 'tlyness1@paginegialle.it', 'oEofndp', 'U', true),
    ('Addie', 'Mesias', 'amesias2@twitpic.com', 'ih7Y69u56', 'U', true)

In [ ]:
%sql SELECT * FROM users