## Overview of Series

Let us quickly go through one of the Pandas Data Structure - Series.
* Pandas Series is a one-dimensional labeled array capable of holding any data type.
* It is similar to one column in an excel spreadsheet or a database table.
* We can create Series by using dict.

In [1]:
d = {"JAN": 10, "FEB": 15, "MAR": 12, "APR": 16}

In [2]:
type(d)

dict

In [3]:
d

{'JAN': 10, 'FEB': 15, 'MAR': 12, 'APR': 16}

In [4]:
import pandas as pd
s = pd.Series(d)

In [5]:
s

JAN    10
FEB    15
MAR    12
APR    16
dtype: int64

In [6]:
import pandas as pd
s = pd.Series(d, name='val')

In [7]:
s

JAN    10
FEB    15
MAR    12
APR    16
Name: val, dtype: int64

In [8]:
s['FEB']

15

In [9]:
s[0]

10

In [10]:
s[1:3]

FEB    15
MAR    12
Name: val, dtype: int64

In [11]:
type(s)

pandas.core.series.Series

In [12]:
s.sum()

53

In [13]:
l = [10, 15, 12, 16]

In [14]:
l_s = pd.Series(l)

In [15]:
l_s

0    10
1    15
2    12
3    16
dtype: int64

In [16]:
l_s[0]

10

* When we fetch only one column from a Pandas Dataframe, it will be returned as Series.

```{note}
Donâ€™t worry too much about creating Data Frames yet, we are trying to understand how Data Frame and Series are related.
```

In [17]:
orders_path = "/data/retail_db/orders/part-00000"

In [18]:
orders_schema = [
  "order_id",
  "order_date",
  "order_customer_id",
  "order_status"
]

In [ ]:
orders = pd.read_csv(orders_path,
  header=None,
  names=orders_schema
)

In [ ]:
orders

In [ ]:
type(orders)

In [ ]:
orders.order_date

In [ ]:
type(orders.order_date)

In [ ]:
order_dates = orders.order_date
order_dates

In [ ]:
type(order_dates)