---
---

<center><h1>Assignment: DataFrames</h1></center>

---

In the notebook, we will work with a cricket commentary data.


---

#### `Importing the required libraries`

---

In [1]:
from pyspark.context import SparkContext
import pyspark.sql.types as tp
from pyspark.sql import functions as F

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

from pyspark.context import SparkContext
sc = spark.sparkContext

In [3]:
sc

---

#### `Read the CSV File`

---

In [4]:
data = spark.read.csv("dataset/ind-ban-comment.csv",inferSchema=True, header=True)

## check the schema of the dataframe

In [5]:
data.schema

StructType(List(StructField(_c0,IntegerType,true),StructField(Batsman,IntegerType,true),StructField(Batsman_Name,StringType,true),StructField(Bowler,IntegerType,true),StructField(Bowler_Name,StringType,true),StructField(Commentary,StringType,true),StructField(Detail,StringType,true),StructField(Dismissed,DoubleType,true),StructField(Id,IntegerType,true),StructField(Isball,BooleanType,true),StructField(Isboundary,DoubleType,true),StructField(Iswicket,DoubleType,true),StructField(Over,DoubleType,true),StructField(Runs,IntegerType,true),StructField(Summary,StringType,true),StructField(Timestamp,TimestampType,true),StructField(ZAD,StringType,true)))

### VIEW THE TOP 4 ROWS OF THE DATA USING THE SHOW FUNCTION

In [6]:
data.show(4)

+---+-------+-----------------+------+-----------------+--------------------+------+---------+---+------+----------+--------+----+----+-------+-------------------+-------+
|_c0|Batsman|     Batsman_Name|Bowler|      Bowler_Name|          Commentary|Detail|Dismissed| Id|Isball|Isboundary|Iswicket|Over|Runs|Summary|          Timestamp|    ZAD|
+---+-------+-----------------+------+-----------------+--------------------+------+---------+---+------+----------+--------+----+----+-------+-------------------+-------+
|  0|  28994|   Mohammed Shami| 63881|Mustafizur Rahman|OUT! Bowled! 5-fe...|     W|  28994.0|346|  true|      null|     1.0|49.6|   0|   null|2019-07-02 13:18:47|   null|
|  1|   5132|Bhuvneshwar Kumar| 63881|Mustafizur Rahman|WIDE AND RUN OUT!...|  W+wd|   5132.0|344|  true|      null|     1.0|49.6|   1|   null|2019-07-02 13:17:28|   null|
|  2|  28994|   Mohammed Shami| 63881|Mustafizur Rahman|Back of a length ...|  null|     null|343|  true|      null|    null|49.5|   1|   null|2019-07-02 13:16:03|8,349,3|
|  3|   5132|Bhuvneshwar Kumar| 63881|Mustafizur Rahman|Just 1 run off th...|  null|     null|342|  true|      null|    null|49.4|   1|   null|2019-07-02 13:15:17|7,279,2|
+---+-------+-----------------+------+-----------------+--------------------+------+---------+---+------+----------+--------+----+----+-------+-------------------+-------+
only showing top 4 rows

---

#### Find out the number of runs scored by each batsman

---

In [7]:
data.select('Batsman', 'Batsman_Name', 'Runs').groupBy('Batsman_Name').sum('Runs').show()

+------------------+---------+
|      Batsman_Name|sum(Runs)|
+------------------+---------+
|     Soumya Sarkar|       34|
|  Mashrafe Mortaza|        8|
|   Shakib Al Hasan|       68|
|   Mushfiqur Rahim|       24|
|Mohammad Saifuddin|       55|
|         Liton Das|       22|
|      Rishabh Pant|       55|
|    Mohammed Shami|        1|
|       Tamim Iqbal|       23|
|     Hardik Pandya|        0|
|          KL Rahul|       79|
| Bhuvneshwar Kumar|        3|
|     Rubel Hossain|        9|
|      Rohit Sharma|      107|
|    Dinesh Karthik|        8|
|       Virat Kohli|       26|
|          MS Dhoni|       35|
|     Sabbir Rahman|       40|
|  Mosaddek Hossain|        3|
| Mustafizur Rahman|        0|
+------------------+---------+

### SHOW THE BATSMAN SCORED BY EACH RUN IN DESCENDING ORDER

In [8]:
view = data.select('Batsman', 'Batsman_Name', 'Runs').groupBy('Batsman_Name').sum('Runs')
view.sort('sum(Runs)', ascending=False)

+------------------+---------+
|      Batsman_Name|sum(Runs)|
+------------------+---------+
|      Rohit Sharma|      107|
|          KL Rahul|       79|
|   Shakib Al Hasan|       68|
|      Rishabh Pant|       55|
|Mohammad Saifuddin|       55|
|     Sabbir Rahman|       40|
|          MS Dhoni|       35|
|     Soumya Sarkar|       34|
|       Virat Kohli|       26|
|   Mushfiqur Rahim|       24|
|       Tamim Iqbal|       23|
|         Liton Das|       22|
|     Rubel Hossain|        9|
|    Dinesh Karthik|        8|
|  Mashrafe Mortaza|        8|
| Bhuvneshwar Kumar|        3|
|  Mosaddek Hossain|        3|
|    Mohammed Shami|        1|
|     Hardik Pandya|        0|
| Mustafizur Rahman|        0|
+------------------+---------+

---

#### Which batsman scored the highest number of boundaries

---

In [9]:
data.columns

['_c0',
 'Batsman',
 'Batsman_Name',
 'Bowler',
 'Bowler_Name',
 'Commentary',
 'Detail',
 'Dismissed',
 'Id',
 'Isball',
 'Isboundary',
 'Iswicket',
 'Over',
 'Runs',
 'Summary',
 'Timestamp',
 'ZAD']

In [10]:
view = data.select('Batsman', 'Batsman_Name', 'Isboundary').groupBy('Batsman_Name').sum('Isboundary')
view.sort('sum(Isboundary)', ascending=False)

+------------------+---------------+
|      Batsman_Name|sum(Isboundary)|
+------------------+---------------+
|      Rohit Sharma|           12.0|
|Mohammad Saifuddin|            9.0|
|          KL Rahul|            7.0|
|      Rishabh Pant|            7.0|
|   Shakib Al Hasan|            6.0|
|     Sabbir Rahman|            5.0|
|     Soumya Sarkar|            4.0|
|          MS Dhoni|            4.0|
|       Virat Kohli|            3.0|
|   Mushfiqur Rahim|            3.0|
|       Tamim Iqbal|            3.0|
|         Liton Das|            1.0|
|    Dinesh Karthik|            1.0|
|  Mashrafe Mortaza|            1.0|
|     Rubel Hossain|            1.0|
|    Mohammed Shami|           null|
|     Hardik Pandya|           null|
| Bhuvneshwar Kumar|           null|
|  Mosaddek Hossain|           null|
| Mustafizur Rahman|           null|
+------------------+---------------+

Rohit Sharma had the highest number of boundaries.

---

**Define a `udf` function that will create a new column on the basis of following condition**

If the value of `Runs` is less than 2, then assign `A`, if value is between `3 to 5` then assign `B` else assign `C`


---

In [11]:
view = data.select('Batsman', 'Batsman_Name', 'Runs')

In [12]:
from pyspark.sql.functions import expr, when

In [13]:
from pyspark.sql.functions import col

In [14]:
def create_col(x):
    view = x.withColumn('new_column', \
                       when((col('Runs') < 2), 'A')
                       .when((col('Runs') > 2) & (col('Runs') < 6), 'B')
                       .otherwise('C'))
    return view

In [15]:
create_col(view)

+-------+-----------------+----+----------+
|Batsman|     Batsman_Name|Runs|new_column|
+-------+-----------------+----+----------+
|  28994|   Mohammed Shami|   0|         A|
|   5132|Bhuvneshwar Kumar|   1|         A|
|  28994|   Mohammed Shami|   1|         A|
|   5132|Bhuvneshwar Kumar|   1|         A|
|   3676|         MS Dhoni|   0|         A|
|   3676|         MS Dhoni|   0|         A|
|   3676|         MS Dhoni|   0|         A|
|   3676|         MS Dhoni|   1|         A|
|   3676|         MS Dhoni|   4|         B|
|   3676|         MS Dhoni|   0|         A|
|   3676|         MS Dhoni|   0|         A|
|   3676|         MS Dhoni|   4|         B|
|   3676|         MS Dhoni|   2|         C|
|   5132|Bhuvneshwar Kumar|   0|         A|
|   3676|         MS Dhoni|   1|         A|
|   3676|         MS Dhoni|   0|         A|
|   5132|Bhuvneshwar Kumar|   1|         A|
|   3632|   Dinesh Karthik|   0|         A|
|   3676|         MS Dhoni|   1|         A|
|   3676|         MS Dhoni|   1|         A|
+-------+-----------------+----+----------+
only showing top 20 rows